<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bupt.dao.TaskMapper">
  <resultMap id="BaseResultMap" type="com.bupt.pojo.Task">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="testcaseid" jdbcType="INTEGER" property="testcaseid" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="configurepath" jdbcType="VARCHAR" property="configurepath" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, testcaseid, status, configurepath
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from task
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from task
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bupt.pojo.Task">
    insert into task (ID, testcaseid, status, 
      configurepath)
    values (#{id,jdbcType=INTEGER}, #{testcaseid,jdbcType=INTEGER}, #{status,jdbcType=VARCHAR}, 
      #{configurepath,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bupt.pojo.Task">
    insert into task
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="testcaseid != null">
        testcaseid,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="configurepath != null">
        configurepath,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="testcaseid != null">
        #{testcaseid,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="configurepath != null">
        #{configurepath,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bupt.pojo.Task">
    update task
    <set>
      <if test="testcaseid != null">
        testcaseid = #{testcaseid,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="configurepath != null">
        configurepath = #{configurepath,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bupt.pojo.Task">
    update task
    set testcaseid = #{testcaseid,jdbcType=INTEGER},
      status = #{status,jdbcType=VARCHAR},
      configurepath = #{configurepath,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>